:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --white-color: #ffffff;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

/*header*/

.nav-logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: Bold;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3%;
}

.logo-color {
  color: #2196f3;
}
.site-nav .link {
  color: #212121;
}
.nav-links ul {
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .nav-link a:active,
.site-nav .nav-link a:visited {
  color: #2196f3;
}
.auth-nav .link {
  color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
/*section hero*/

.section-hero {
  background-color: #2f303a;
  text-align: center;
}
.section-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.section-hero button {
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}
.section-hero button:hover,
.section-hero button:focus {
  color: #ffffff;
  background: #2196f3;
  display: inline-block;
}

/*section benefits*/
.benefits-title {
  display: none;
}
.benefits-text h3 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
}
.benefits-text p {
  font-size: 14px;
  line-height: 1.14;
}

/*work*/
.work-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*our team*/
.group {
  background-color: #f5f4fa;
}
.our-team {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team h3 {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*our work*/
.our-work {
  stroke: #eeeeee;
}
.our-work .button {
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.our-work .button:hover,
.our-work .button:focus {
  color: #ffffff;
  background: #2196f3;
  display: inline-block;
  text-align: center;
}
.our-work button:active,
.our-work button:visited {
  color: #2196f3;
}

.our-work .benefits-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.our-work .benefits-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}
/*footer*/
footer {
  background-color: black;
}
.logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.logo-color {
  color: #2196f3;
}
.address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address a {
  color: #757575;
}
.address a:hover,
.address a:focus {
  color: #2196f3;
}
